{
  "repositoryUrl": "https://github.com/scbt-ecom/ui.git",
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failCommentCondition": false
      }
    ]
  ]
}
